body {
    text-align: center;
    font-family: "Sour Gummy", sans-serif;
    font-size: medium;
    background: linear-gradient(#6BA292, #EAF3EC);
    color: black;
}

h1, h2, h3, h4, p {
    text-shadow: 0 0 1px black;
}

#bff-img {
    width: 175px;
    height: 160px;
    border-radius: 50%;
    border: 6px solid whitesmoke;
    margin-bottom: 10px;
}

#bday-age {
    background: #FCCB06;
    padding: 5px 10px;
    border-radius: 5px;
    margin: 5px 0 10px 0;
    font-size: 1.2em;
}

#bday-date {
    margin: 0;
    background: #FCCB06;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 1.2em;
}

#header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.gift-section {
    margin-top: 50px;
}

.gift-title {
    margin-bottom: 10px;
}

.gift-hint {
    margin-top: 0;
}

#gift-img-cheers {
    height: 200px;
}

.gift-img {
    margin: 20px auto;
    max-width: 400px;
    height: 400px;
    border: 6px solid white;
    border-radius: 10px;
    background-image: url("https://media1.giphy.com/media/v1.Y2lkPTc5MGI3NjExMzhoNXhrenljaDU1enNnNGR4bzRkenNkaGx0ZmR6NmozeHdzZHA3cyZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/729lfooo9A84agmtxx/giphy.gif");
    background-size: cover;
}

#gift-img-happy:hover {
    background-image: url("https://media3.giphy.com/media/v1.Y2lkPTc5MGI3NjExNW5neDlwNGZmaGtqcXdmMTM2NXl4NWg4ODZ0cmJrcHpnb3c0a2d0YiZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/YTbZzCkRQCEJa/giphy.gif");
}

#gift-img-hot:hover {
    background-image: url("https://media1.giphy.com/media/v1.Y2lkPTc5MGI3NjExanVsMXp0czN5d29wM3ZjcGEybmt1N21pbm81MzRxeGdqYWUwZGdteSZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/3VFUXWuKU2QZDXIpvK/giphy.gif");
}

#gift-img-genius:hover {
    background-image: url("https://media1.giphy.com/media/v1.Y2lkPTc5MGI3NjExNzlnaW9qeTI3YWFrOHE4aXhsaGt4OGZnbTI0OTI1eG5oempubnEyZCZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/iNTpbEYSTrmKGZ52hd/giphy.gif");
}

#gift-img-badass:hover {
    background-image: url("https://media1.giphy.com/media/v1.Y2lkPTc5MGI3NjExN2w2Z283Z25pcXN2cXBvd3h5ZDVkbTNzNjl5MGM1dWx2Mmpmc25nNyZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/SvFwXYela3POnL0Bvd/giphy.gif");
}

#gift-img-cheers:hover {
    background-image: url("https://media0.giphy.com/media/v1.Y2lkPTc5MGI3NjExOTluN3JucXZ2azZ5NTgwbmJxbmF1Y3B1aHlubmxwcXc3Z3R0MGcwOSZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/Zw3oBUuOlDJ3W/giphy.gif");
}

#footer {
    font-style: italic;
    font-size: medium;
    width: 400px;
    margin: 40px auto 20px;
}

a {
    color: black;
    text-decoration: none;
}